.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.constructor-container {
    margin-left: 42px;
}

.burger-fillings {
    max-height: 500px;
    overflow: auto;
    padding: 0 10px ;
    margin: 0;
}
