.container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 700px;
    overflow: auto;
    padding: 0 10px 10px 10px;
}

.null-orders {
    text-align: center;
}