
.menu-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}


.menu-links-text {
    display: flex;
    gap: 8px;
    border: none;
    color: #F2F2F3;
}
