.cards {
    width: 272px;
    position: relative;
}

.cards-photo {
    width: 240px;
    height: 120px;
}

.container-price {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards-price {
    max-width: 100px;
    height: 24px;

}

.cards-description {
    width: 272px;
    height: 24px;
    margin: 0;
    text-align: center;
}

/*.link {*/
/*    text-decoration: none;*/
/*    color: var(--text-primary-color);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/