.container {
    width: 580px;
    display: flex;
    justify-content: space-between;

}

.dashboard-status {
    display: flex;
    justify-content: flex-start;
    width: 272px;
}

.dashboard-status-title {
    width: 272px;
}