
.container {
    display: flex;
    width: 600px;
    list-style-type: none;
    padding: 0;
}

/*.activeTab {*/
/*    background-color: #F4F4F4; !* Цвет фона для активного элемента *!*/
/*    color: #333; !* Цвет текста для активного элемента *!*/
/*    font-weight: bold; !* Жирный шрифт для активного элемента *!*/
/*    !* Другие стили по вашему усмотрению *!*/
/*}*/

.ingredients-elements {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.ingredients-column {
    display: flex;
}

.title-ingredients {

}
