.header {
    max-width: 1920px;
    margin: 0 auto;

}

.header__container {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
}


.user_container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

