.header {
    max-width: 1920px;
    margin: 0 auto;
}

.header-container {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    color: var(--text-primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.logo {
    margin-right: 160px;
    cursor: pointer;
}

.active {
    color: var(--text-inactive-color)
}
